In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../cryptodata/btcusd.csv')

In [5]:
df

     Unnamed: 0       Date      Open      High     Low     Close
0            Tu  11/2/2020   9866.28   9892.60  9715.10  9736.08
1            Mo  10/2/2020  10097.14  10194.88  9749.77  9866.28
2           NaN        NaN       NaN       NaN      NaN      NaN
3            Fr   7/2/2020   9737.36   9868.16  9655.23  9744.46
4            Th   6/2/2020   9687.28   9854.47  9530.87  9737.36
...         ...        ...       ...       ...      ...      ...
1561         Mo  16/2/2015    244.18    244.98   227.38   237.01
1562        NaN        NaN      0.00       NaN      NaN      NaN
1563         Fr  13/2/2015    222.20    239.22   221.61   234.25
1564         Th  12/2/2015    219.39    222.62   218.35   222.20
1565         We  11/2/2015    219.70    223.28   218.85   219.39

[1566 rows x 6 columns]